body {
    background-color: beige;
    color: antiquewhite;
    font-style: oblique;
    font-stretch: 1pt;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 40px;
    color: aquamarine;
}